/* здесь подключите шрифты */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/lato/Lato-Regular.woff2") format("woff2"),
}

@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src:
    url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
}
