.catalog {
  border-top: 1px solid $medium-gray;

  @include tablet {
    border: none;
  }
}

.catalog__container {
  padding: 0; // убирает границы container для серых бордеров
  margin-bottom: 25px;

  @include tablet {
    padding: 0 30px;
    margin-bottom: 69px;
  }

  @include desktop {
    padding: 0 110px;
    margin-bottom: 75px;
  }
}

.catalog__title {
  @include caption;
  @include catalog-container;
  padding-top: 27px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    padding-top: 37px;
    margin-bottom: 31px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    padding-top: 51px;
    margin-bottom: 32px;
  }
}

.catalog__list {
  @include reset-list;

  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid $ultra-gray;
  padding: 0 20px 24px; // возвращает границы container

  &:first-of-type {
    border-top: 1px solid $ultra-gray;

    @include tablet {
      border: none;
    }
  }

  @include tablet {
    width: 45.75%;
    margin-bottom: 8px;
    padding: 0;
    border: none;


    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @include desktop {
    width: 20%;
    margin-right: 80px;
    margin-bottom: 10px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}

.catalog__wrapper {
  padding-top: 19px;
  margin-bottom: 23px;
  width: 50%;

  @include tablet {
    padding-top: 0;
    margin-bottom: -2px;
    width: 100%;
  }

  @include desktop {
    margin-bottom: 1px;
  }
}

.catalog__item--add {
  padding-top: 78px;
  flex-direction: column;
}
