html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $oswald;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $dark-gray;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
